.home {
  width: 100vw;
  margin: 0;
  background-color: rgb(245, 99, 1);
}
.admin {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 99, 1);
}

/* background-color: rgb(245, 99, 1); */