@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: rgba(92, 5, 5, 0.931);
}

p {
  color: white !important;
}

h {
  color: white;
}

h1 {
  color: white;
}
